@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 210px;
    margin: 30px auto 10%;
    padding: 20px;
}

form {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 10px;
}